
<div class="button-wrapper">
  <button {{action "makeShoppingList"}}type="button" class="btn btn-default list-button" name="button">Make List</button>
</div>

<div class="label-wrap">
  <div class="inv-label">
    <h3>Inventory</h3>
  </div>
  <div class="recipe-label">
    <h3>Recipes</h3>
  </div>
  <div class="shop-label">
    <h3>Shopping List</h3>
  </div>

</div>


<div class="wrapper">

  <div class="food">
    {{#each inventorySort as |food|}}
      <div class="card list-cards">
        <ul class="list-group list-group-flush ">
          <li class="list-group-item {{if food.quantity '' 'unselected-recipe-card'}}">{{food.food}}</li>
          <li class="list-group-item unselected-recipe-card">{{food.quantity}}</li>
        </ul>
      </div>
    {{/each}}
  </div>

  <div class="recipe">
    {{#each model.recipes as |recipe|}}
    {{#link-to 'recipe' recipe.id}}
    <div class="card list-cards">
      <ul class="list-group list-group-flush">
        <li {{action "toggleClick"}} class="list-group-item {{if recipe.selected '' 'unselected-recipe-card'}}">{{recipe.recipe}}</li>
      </ul>
    </div>
    {{/link-to}}
    {{/each}}
    <div class="">
      
    </div>
  </div>




  <div class="list">
    {{#each list as |list|}}
    <div class="card list-cards">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{list.name}}</li>
        <li class="list-group-item unselected-recipe-card">{{list.quantity}}</li>
      </ul>
    </div>
    {{/each}}
  </div>

</div>
