{{#each model.foods as |food|}}
<div class="">
  <ul>{{food.food}}</ul>
  <form class="" action="index.html" method="post">
    {{food.quantity}}
  </form>
</div>
{{/each}}

{{#each model.recipes as |recipe|}}
  <ul>
    {{recipe.recipe}}
    {{recipe.ingredients}}
  </ul>
{{/each}}

{{#each model.ingredients as |ingredient|}}
  <ul>{{ingredient.id}} {{ingredient.food_id}} {{ingredient.quantity}}</ul>
{{/each}}
